<h1>{{title}}</h1>
<div id="table" class="container">
    <div name="deck" class="container" id="decko">deck</div>
    <div name="waste" class="container">waste</div>
    <div name="foundation" class="container">foundation
        <div name="f1" class="containFound"></div>
        <div name="f2" class="containFound"></div>
        <div name="f3" class="containFound"></div>
        <div name="f4" class="containFound"></div>
    </div>
   
    
    <div name="tableau" class="container">tableau
            <div name="col1" class="column"></div>
            <div name="col2" class="column"></div>
            <div name="col3" class="column"></div>
            <div name="col4" class="column"></div>
            <div name="col5" class="column"></div>
            <div name="col6" class="column"></div>
            <div name="col7" class="column"></div>

    </div>
 </div>